*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background:  #D96612;
}
header{
    padding:20px 70px;
    color: white;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav-list{
    display: flex;
    align-items:center;
    /* border: solid red; */
    width: 650px;
    justify-content: space-between;
    list-style-type: none;
}

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero{
    width: 520px;
}
.hero > h1{
    font-weight: 400;
font-size: 70px;
line-height: 105px;
}
.hero > p{
    font-size: 24px;
line-height: 36px;
}
.hero-buttons{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.explore{
    background: linear-gradient(270deg, #FFC702 6.12%, rgba(21, 168, 215, 0.47) 139.81%);
border-radius: 10px;
padding: 10px 40px;
color: white;
border: none;
cursor: pointer;
}
.learn{
    border: 2px solid #FFFFFF;
border-radius: 10px;
padding: 10px 40px;
background-color: transparent;
color: white;
cursor: pointer;


}
.items, .hero-foot>ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.items-list, .hero-foot > ul{
    list-style-type: none;
}
.items-list > li, .hero-foot h2{
    margin-top: 10px;
}

.hero-card{
    height: 400px;
    width: 200px;
    background-color: white;
    position: relative;
    z-index: -1;
    top: 20px;
    left: 250px;
    -ms-transform: skewY(20deg); /* IE 9 */
    transform: skewY(45deg);
    transform: skewX(20deg);
}
.card-2{
    height: 500px;
    width: 400px;
    background-color: transparent;
    position: relative;
    border: 2px solid black;
    z-index: 2;
  
}